.mainwindow{
    outline-style: solid;
    margin: 50px 5vw 0px 5vw;
    height: 88vh;
    border-radius: 30px;
    padding: 30px;
    background-color: #BAF2BB;
    outline-color: #87ad88ab;
    overflow: auto;
}