.popup{
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
}
.banner{
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    height: 45px;
    outline-style: solid;
    outline-color: #be5f7842;
    width: 100%;
    background-color: #f2bac9a1;

}
.banner h1{
    margin-left: auto;
    margin-right: auto;
    color: rgb(66, 66, 66);
}
.closeIcon{
    width: 40px;
    margin-right: 10px;
    cursor: pointer;
}
.window{
    position: absolute;
    overflow: hidden;
    box-shadow: 0px 3.982561px 8.45640px rgba(0, 0, 0, 0.575);
    outline-style: solid;
    outline-color: #f2bac9a1;
    background-color: #BAF2D8;
    padding: 35px;
    width: 50vw;
    height: 65vh;
    border-radius: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.fa-xmark{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}
.top{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.window--desc{
    width: 90%;
    height: 60%;
    border-radius: 20px;
    resize: none;
    overflow: auto;
    padding: 20px;
    background-color: #f2bac9a1;
}
.window--priority{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 35px;
}
@media  (max-width: 600px)  {
    .window{
        height: 45vh;
    }
    .window--priority{
        
    }


}